<!DOCTYPE html>
<html lang="fr" ng-app="client_app">
  <header>
    <% include html_head %>
</header>
  <body>
    <nav class="navbar navbar-fixed-top">
        <div class="navbar-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="pull-left">
                            <ul class="userMenu">
                                <li>
                                    <a href="callto:+33199999999">
                                        <span><i class="glyphicon glyphicon-phone-alt "></i></span>
                                        <span class="hidden-xs">+33(0) 1 99 99 99 99</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right">
                            <ul class="userMenu">
                                <li>
                                    <a ng-hide="!currentUser.token" href="#/login" data-target="modal-connexion" data-toggle="modal">
                                        <span class="hidden-xs"> Connexion </span>
                                        <i class="glyphicon glyphicon-log-in hidden visible-xs"></i>
                                    </a>
                                    <a href="" ng-show="!currentUser.token" ng-click="logout()" data-target="modal-connexion" data-toggle="modal">
                                        <span class="hidden-xs"> Déconnexion </span>
                                        <i class="glyphicon glyphicon-log-in hidden visible-xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header col-md-2 col-sm-3">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand img-jismen" href="/#"><img class="img-responsive" src="/images/Jismen.jpg" alt="Jismen"/></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapsible">
              <ul class="nav navbar-nav">
                <li><a href="#/user/information">Mes informations</a></li>
                <li><a href="#/products">Mes favoris</a></li>
              </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
      <div id="main" class="row">
        <ng-view class="blueTitle">
        <!-- Corps de la page body-->
        </ng-view>
      </div>
    </div>

    <!--Footer-->
    <% include footer %>
    <!--/Footer-->

    <!-- jQuery) -->
    <script src="/javascripts/sweetalert.min.js"></script>
    <script src="/javascripts/jquery_2.1.4.min.js"></script>
    <!-- Bootstrap -->
    <script src="/javascripts/bootstrap_3.3.4/bootstrap.min.js"></script>
    <!-- Angular -->
    <script type="text/javascript" src="/angular/vendors/angular.js"></script>
    <script type="text/javascript" src="/angular/vendors/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/angular/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/angular/vendors/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script type="text/javascript" src="/angular/modules/client/client_app.js"></script>
    <script type="text/javascript" src="/angular/modules/client/client.controllers.js"></script>
    <script type="text/javascript" src="/angular/modules/client/client.services.js"></script>
    <script type="text/javascript" src="/angular/modules/authentication.services.js"></script>
  </body>
</html>
