<!--Footer-->
    <footer id="footer">
      <div class="">
        <div class="container">
          <div class="row no-margin">
            <div class="col-sm-4">
              <div class="">
                <h2>Service</h2>
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="/#contactForm" data-target="#modal-contactForm" data-toggle="modal">Contatez-nous</a></li>
                  <li><a href="">FAQ</a></li>
                </ul>
              </div>
            </div>          
            <div class="col-sm-4">
              <div class="">
                <h2>Politique</h2>
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="">Conditions d'utilisation</a></li>
                  <li><a href="">Mentions légales</a></li>              
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="">
                <h2>À propos de JISMEN</h2>
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="">Informations sur la Société</a></li>
                  <li><a href="">Carrières</a></li>
                  <li><a href="">Emplacement du magasin</a></li>                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--/Footer-->