<!DOCTYPE html>
<html lang="fr" ng-app="homepage_app">
  <head>
    <% include html_head %>
    <title>Jismen</title>    
  </head>
  <body>
    <nav class="navbar navbar-fixed-top">
        <div class="navbar-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="pull-left">
                            <ul class="userMenu">
                                <li>
                                    <a href="callto:+33199999999">
                                        <span><i class="glyphicon glyphicon-phone-alt "></i></span>
                                        <span class="hidden-xs">+33(0) 1 99 99 99 99</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right">
                            <ul class="userMenu">
                                <li>
                                    <a href="/#user">
                                        <span ng-show="currentUser.token" class="hidden-xs"> Mon compte </span>
                                        <i class="glyphicon glyphicon-user hide visible-xs "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/login" data-target="modal-connexion" data-toggle="modal">
                                        <span class="hidden-xs"> Connexion </span>
                                        <i class="glyphicon glyphicon-log-in hidden visible-xs"></i>
                                    </a>
                                </li>
                                <li class="hidden-xs">
                                    <a href="#/signup" data-target="#modal-inscription" data-toggle="modal">Inscription</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" ng-controller="menuCtrl">
            <div class="navbar-header col-md-2 col-sm-3">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand img-jismen" href="/#/"><img class="img-responsive" src="./images/Jismen.jpg" alt="Jismen"/></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapsible">
                <ul class="nav navbar-nav">
                    <li><a href="#/tag/new">Nouveautés</a></li>
                    <li><a href="#/tag/promo">Bons plans</a></li>
                    <li><a href="#/tag/vip" ng-show="currentUser.token">VIP</a></li>
                    <li>
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expended="false">
                            Catégories
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="categorie in categories">
                              <div ng-mouseenter="isCollapsed = !isCollapsed" ng-mouseleave="isCollapsed = !isCollapsed" class="" style="width:100%">
                                <i class="fa fa-caret-right"></i> <b>{{categorie.name|uppercase}}</b>
                                <ul collapse="isCollapsed" class="nav nav-pills nav-stacked">
                                  <li ng-repeat="subcat in categorie.subcat">
                                    <a href="#/categorie/{{subcat.subcat_name}}/" style="color:#000">{{subcat.subcat_name|uppercase}}</a>
                                  </li>
                                </ul>
                              </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
      <div id="main" class="row">
        <ng-view></ng-view>
      </div>
    </div>

    <!--Footer-->
    <% include footer %>
    <!--/Footer-->


    <!-- jQuery) -->
    <script src="/javascripts/sweetalert.min.js"></script>
    <script src="/javascripts/jquery_2.1.4.min.js"></script>
    <!-- Bootstrap -->
    <script src="/javascripts/bootstrap_3.3.4/bootstrap.min.js"></script>
    <!-- Angular -->
    <script type="text/javascript" src="/angular/vendors/angular.js"></script>
    <script type="text/javascript" src="/angular/vendors/angular-animate.min.js"></script>
    <script type="text/javascript" src="/angular/vendors/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/angular/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/angular/vendors/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/angular/vendors/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script type="text/javascript" src="/angular/modules/homepage/homepage_app.js"></script>
    <script type="text/javascript" src="/angular/modules/homepage/homepage.controllers.js"></script>
    <script type="text/javascript" src="/angular/modules/homepage/homepage.services.js"></script>
    <script type="text/javascript" src="/angular/modules/authentication.services.js"></script>
  </body>
</html>
