<div id="contactForm" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 mg-t-120 mg-b-120 blueTitle">
      <h1 class="col-md-4 col-md-offset-4 center mg-b-30">Nous contacter</h1>
      <div class="col-md-4 col-md-offset-4 ">
        <form name="contactForm" class="mg-b-30">
          <div class="form-group mg-b-15">
            Besoin d'aide? Contact nous au +33(0) 1 99 99 99 99ou envoyer un mail à <a href="contact.jismen@gmail.fr">contact.jismen@gmail.fr</a>. Vous pouvez aussi remplir ce formulaire et nous vous répondrons le plus rapidement possible.
          </div>
          <div class="form-group mg-b-15">
            <label>Votre adresse mail :</label>
            <input ng-model="email" type="text" class="form-control" name="email" placeholder="Votre adresse mail" />
          </div>
          <div class="form-group mg-b-15">
            <label>Nom</label>
            <input ng-model="name" type="text" class="form-control" name="name" placeholder="Nom" />
          </div>
          <div class="form-group mg-b-15">
            <label>Prénom</label>
            <input ng-model="firstname" type="text" class="form-control" name="firstname" placeholder="Nom" />
          </div>
          <div class="form-group mg-b-15">
            <label>Votre message:</label>
            <input ng-model="message" type="text" class="form-control" name="message" placeholder="Votre message ..." />
          </div>
          <div class="mg-b-30 mg-t-30">
            <input ng-click="" class="btn btn-primary col-xs-12" type="submit" value="Envoyez" />
          </div>
        </form>
        <div class="col-xs-12 mg-t-30 mg-b-30">
          <div class="col-xs-12 col-md-6">
            <a class="" href="#/signup">
                Vous n'avez pas encore de compte ?
            </a>
          </div>
          <div class="col-xs-12 col-md-6">
            <a class="flt-r" href="">
                Mot de passe oublié ?
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
