 <div id="contactForm" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 blueTitle">
      <h1 class="col-md-4 col-md-offset-4 center mg-b-30">Nous contacter</h1>
      <div class="col-md-4 col-md-offset-4 ">
        <form ng-submit="sendRequest()" method="GET" name="contactForm" class="mg-b-30" autocomplete="off">
          <div class="form-group mg-b-15">
            Besoin d'aide ? Contactez-nous au +33(0) 1 99 99 99 99 ou envoyer un mail à <a href="mailto:contact.jismen@gmail.com">contact.jismen@gmail.com</a>. Vous pouvez aussi remplir ce formulaire et nous vous recontacterons le plus rapidement possible.
          </div>
          <div class="form-group mg-b-15">
            <label>Votre adresse mail</label>
            <input ng-model="form.email" type="text" class="form-control" name="email" placeholder="Votre adresse mail" />
          </div>
          <div class="form-group mg-b-15">
            <label>Nom</label>
            <input ng-model="form.name" type="text" class="form-control" name="name" placeholder="Nom" />
          </div>
          <div class="form-group mg-b-15">
            <label>Prénom</label>
            <input ng-model="form.firstname" type="text" class="form-control" name="firstname" placeholder="Nom" />
          </div>
          <div class="form-group mg-b-15">
              Votre message
            <textarea ng-model="form.message" type="text" class="form-control" name="message" placeholder="Votre message ..." />
          </div>
          <div class="mg-t-30">
            <input class="btn btn-primary col-xs-12 mg-b-30" type="submit" value="Envoyer" />
          </div>
        </form>        
      </div>
    </div>
  </div>
</div>