<div class="row no-margin">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 mg-bt-120 encadrer center">
			<div class="col-xs-12 col-sm-6">
				<img src="{{product.picture}}" alt="" />
			</div>
			<div class="col-xs-12 col-sm-6">
				<h3>{{product.name}}</h3>
				<p>{{product.description}}</p>
				<p>{{product.price}} €</p>
				<p>{{product.color}}</p>
				<p ng-repeat="size in product.size">
					{{size.size_name}}
					{{size.quantity}}
				</p>
				<button class="btn btn-jismen-alt col-xs-12"><a href=""><i class="fa fa-heart"></i> Coup de coeur</a></button>
			</div>
		</div>
	</div>
</div>